/*Сброс стилей*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-image: url(images/fon.jpg);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Атрибуты*/
header{
    width: 100%;
    height: 20px;
    background: gray;
    opacity: 0.7;
    text-align: center;
}
.link{
    padding: 1%;
    color: ghostwhite;
    text-decoration: none;
    font-size: 100%;
}
/*Основная информация*/
.head{
    width: 100%;
    height: 100px;
    background-size: cover;
    background: wheat;
    display: inline-block;
    display: flex;
}
.logo{
    width: 25%;
    height: 100px;
    margin-right: 0.1%;
    background-image: url(images/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.section{
    width: 15%;
    text-align: center;
    height: 100px;
    padding-top: 2%;
    margin-left: 35%;
}
.section2{
    width: 15%;
    height: 100px;
    padding-top: 2%;
    display: inline-block;
    display: flex;
}
.phone{
    font-size: 120%;
}
.kabinet_kartinka{
    width: 20%;
    height: 35px;
    margin-right: 3%;
    margin-left: 20%;
}
.email{
    text-decoration: none;
    font-size: 118%;
    color: black;
}
.basket{
    text-decoration: none;
    font-size: 120%;
    color: black;
}
.basket_image{
    width: 20%;
    height: 35px;
    margin-right: 3%;
    margin-left: 25%;
}
/*Общий блок для фильтра, слайдера и поиска*/
.info{
    width: 100%;
    height: 320px;
    margin-top: 0.9%;
    display: inline-block;
    display: flex;
}
/*Фильтр*/
.filter{
    margin-left: 5%;
    width: 15%;
    height: 320px;
    color: black;
    display: inline-grid;
}
.selection{
    margin-top: 1%;
    font-size: 150%;
    color: wheat;
    text-decoration: none;
}
/*Слайдер*/
.slider{
    width: 60%;
    height: 320px;
    overflow: hidden;
    z-index: 0;
}

@keyframes fade {
    0%{ opacity: 0; }
    10%{ opacity: 1; }
    20%{ opacity: 1; }
    30%{ opacity: 1; }
    40%{ opacity: 0; }
    50%{ opacity: 0; }
    60%{ opacity: 0; }
    70%{ opacity: 0; }
    80%{ opacity: 0; }
    90%{ opacity: 0;}
    100% { opacity: 0; }
}

.slider img:nth-child(1) { animation-delay: 0s; }
.slider img:nth-child(2) { animation-delay: 5s; }
.slider img:nth-child(3) { animation-delay: 10s; }

.slider img {
    position:absolute;
    width: 60%;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    opacity:0;
    animation-name: fade;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
/*Поиск*/
.searching{
    width: 13%;
    height: 320px;
    margin-left: 5%;
    text-align: right;
}
.form-search {  /* форма с boxtuffs.com */
    position: relative;
    display: inline-block;
    border: 1px solid #747474;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
    background-image: linear-gradient(#BCBCBC, #EBEBEB);
}
.form-search:before {  /* рамка вокруг формы */
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
}
.form-search:focus-within {  /* изменение формы при фокусе */
    box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
    background: linear-gradient(#9CC2CA, #DFECEF);
}
.form-search input[type="search"] {  /* поле поиска */
    width: 60px;
    height: 32px;
    line-height: 32px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 0 0 6px;
    background: transparent;
    font: 13px Helvetica, Arial, sans-serif;
    color: #6E7074;
    text-shadow: 0 1px 0 #FFF;
    transition: all .2s ease-out;
}
.form-search:focus-within input[type="search"],  /* изменение поля поиска при фокусе */
.form-search input[type="search"]:focus {
    width: 160px;
    color: #25464D;
}
.form-search input[type="search"] { /* картинка лупы */
    padding: 0;
    vertical-align: bottom;
}
/*Разделение*/
.polosa{
    width: 100%;
    min-height: 10px;
    background: gray;
    margin-top: 0.2%;
    opacity: 0.7;
    text-align: center;
}
.asorti{
    font-size: 120%;
    color: wheat;
}
/*Основные блоки*/
.blocks{
    width: 100%;
    min-height: 100px;
    margin-top: 0.5%;
    display: inline-block;
    display: flex;
}
.block{
    width: 21%;
    min-height: 100px;
    margin-left: 3%;
    background: wheat;
    border: wheat;
    border-radius: 10%;
    opacity: 0.7;
    text-align: center;
    padding: 1.5%;
}
.book-image{
    width: 80%;
    height: 300px;
}
.style{
    font-size: 120%;
    padding-bottom: 2%;
    font-family: Candara;
}
.add-book{
    width: 60%;
    background:linear-gradient(to bottom, #FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    text-decoration:none;
    display:block;
    font-size: 14px;
    line-height: 20px;
    margin: 20px auto;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a.add-book:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

a.book-image:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
a.book-image:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}
/*Нумерация*/
.number{
    width: 100%;
    min-height: 10px;
    text-align: center;
    margin-top: 1%;
}
.num{
    color: black;
}
/*Информация о магазине*/
.description{
    width: 100%;
    min-height: 50px;
    margin-top: 1%;
}
.title{
    font-size: 130%;
    color: black;
    margin-left: 1%;
}
.text{
    font-size: 100%;
    color: black;
    margin-top: 0.2%;
    margin-left: 0.8%;
}
/*Кнопка наверх*/
a.top-button{
    z-index: 1;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display:block;
    width: 5%;
    height: 30px;
    margin: 20px auto;
    background-color: wheat;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    color: white;
    text-shadow:rgba(255,255,255,0.6) 1px 1px 0;
    padding:10px 20px;
    padding-right:50px;
    background-image: linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -o-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(0,0,0)),
            color-stop(1, rgb(0,0,0)));
    -webkit-box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 1px 1px #ffbe74;
    -moz-box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 1px 1px #ffbe74;
    -o-box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 1px 1px #ffbe74;
    box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 1px 1px #ffbe74;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

a.top-button:active {
    background-image: linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -o-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(245, 222, 179) 0%, rgb(255, 248, 220) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(245, 222, 179)),
            color-stop(1, rgb(245, 222, 179)));
    -webkit-box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 3px 3px #ffbe74;
    -moz-box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 3px 3px #ffbe74;
    -o-box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 3px 3px #ffbe74;
    box-shadow: inset 0px 1px 0px #ffbe74, 0px 2px 0px 0px #DFECEF, 0px 3px 3px #ffbe74;
}

a.top-button::before {
    background-color:#057194;
    background-repeat:no-repeat;
    background-position:center center;
    color:#fff;
    text-shadow:none;
    font-weight:normal;
    vertical-align:middle;
    padding: 2px 0 0 4px;
    width: 5%;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 1px 0px #ffbe74, 0px 1px 0px #DFECEF;
    -moz-box-shadow: inset 0px 1px 0px #ffbe74, 0px 1px 0px #DFECEF;
    -o-box-shadow: inset 0px 1px 0px #ffbe74, 0px 1px 0px #DFECEF;
    box-shadow: inset 0px 1px 0px #ffbe74, 0px 1px 0px #DFECEF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a.top-button:active::before {
    margin-top:-12px;
    -webkit-box-shadow: inset 0px 1px 0px #ffbe74, 0px 3px 0px #DFECEF, 0px 6px 3px #ffbe74;
    -moz-box-shadow: inset 0px 1px 0px #ffbe74, 0px 3px 0px #DFECEF, 0px 6px 3px #ffbe74;
    -o-box-shadow: inset 0px 1px 0px #ffbe74, 0px 3px 0px #DFECEF, 0px 6px 3px #ffbe74;
    box-shadow: inset 0px 1px 0px #ffbe74, 0px 3px 0px #DFECEF, 0px 6px 3px #ffbe74;
}
/*Подвал*/
.basement {
    margin-top: 2%;
    width: 100%;
    min-height: 50px;
    background: wheat;
    opacity: 0.9;
    display: inline-block;
    display: flex;
}
.column{
    width: 33%;
    height: 150px;
    margin-left: 0.3%;
    text-align: center;
    padding-top: 2%;
}
.link2{
    color: black;
    font-size: 120%;
    margin-left: 1%;
}
.correction{
    color: #575555;
    font-size: 90%;
    margin-top: 10%;
}
.net{
    width: 30%;
    min-height: 20px;
    margin-top: 0.2%;
    margin-left: 35%;
}
.social{
    width: 30%;
    height: 40px;
    background-image: url(images/vk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px;
}
.social1{
    width: 30%;
    height: 40px;
    background-image: url(images/insta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px;
    border-radius: 30%;
}
.social2{
    width: 30%;
    height: 40px;
    background-image: url(images/face.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid darkblue;
    border-radius: 75%;
}
.link3{
    color: black;
    font-size: 120%;
    margin-left: 1%;
    margin-top: 2%;
}
.link-text-link{
    font-size: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}